a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #1f1f1f;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 35px;
  color: #dbdbdb;
}

input {
  border: 8px solid transparent;
  border-radius: 10px;
  background-color: #1f1f1f;
  color: #474747;
  display: inline-block;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 1000px;
  max-width: 2000px;
  outline: 0;
}